/* SingleProduct.css */
.single-product-container {
  display: flex;
  justify-content: space-between;
  padding: 68px;
}

.left-section{
  
}

.product-image {
  max-width: 600px;
}

.image-gallery {
  display: flex;
  align-items: center;
}

.thumbnail-image {
  width: 150px; 
  height: 150px; 
  margin: 3px; 
  cursor: pointer;
}

.right-sectionn{
    margin-top: 13px;
    margin-left: 89px;
    border-radius: 5px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 5px 6px rgba(0, 0, 0, 0.1);

  }
  
  .product-details {
    display: flex;
    align-items: center;
  }
  .product-info {
    margin-left: 20px;
  }
  
  .product-title {
    display: flex;
    font-size: 34px;
    margin-top: 61px;
    margin-left: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 549;
  }
  
  .product-price {
    font-size: 18px;
    margin-top: 28px;
    margin-right: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 549;
  }
  
  .product-size{
    font-size: 17px;
    margin-top: 28px;
    margin-right: 91px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 549;
  }
  
    .size-select{
      display: flex;
      width: 110px !important;
      height: 40px !important;
    }
    
  
  .product-description {
    max-width: 400px;
  }
  .description-heading {
    display: flex;
    font-size: 32px;
    margin-top: 46px;
    margin-left: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 549;
  }
  
  hr{
    width: 381px;
    margin-left: 26px;
    margin-top: 45px;
  }
  .description-text {
    font-size: 16px;
  }
  
  .add-to-cart-button {
    background-color: transparent;
    border: 1px solid rgb(19,19,19);
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 91px;
    margin-left: 45px;
    cursor: pointer;
}

/* SingleProduct.css */

/* ... (existing styles) */

.size-select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
  }
  
  /* Add styles for the selected size, if needed */
  .selected-size {
    color: #007bff; /* Customize the color */
    font-weight: bold;
  }
  
  
  